body {
    padding-bottom: 50px;
}
/* Modified from: https://github.com/bassjobsen/typeahead.js-bootstrap4-css */
span.twitter-typeahead .tt-menu {
    cursor: pointer;
}
.dropdown-menu, span.twitter-typeahead .tt-menu {
    color: #000;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 10px;		
    margin: 10px 0;  
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
span.twitter-typeahead .tt-suggestion {
    color: #aaa;
    display: block;
    width: 100%;
    padding: 5px 5px;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}
span.twitter-typeahead .active.tt-suggestion,
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .active.tt-suggestion:focus,
span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
span.twitter-typeahead .active.tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
    color: #fff;
    background-color: #80acff;
    text-decoration: none;
    background-clip: padding-box;
    border-radius: 0.25rem;    
    outline: 0;
}
span.twitter-typeahead {
    width: none;
}
/* The table header rotation magic */
table {
    table-layout: fixed;
    border-collapse: collapse;
    overflow: hidden;
}
/* change the background colour to see how it works */
th.rotate {
    background: none;
    padding: 0;
    width: 74px;
    height: 200px;
    transform-origin: center;
    /* FF3.5+ */
    -moz-transform: rotate(-90.0deg);
    /* Opera 10.5 */
    -o-transform: rotate(-90.0deg);
    /* Saf3.1+, Chrome */
    -webkit-transform: rotate(-90.0deg);
    /* IE6,IE7 */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* Standard */
    transform: rotate(-90.0deg);
}
th.rotate div {
    background: none;
    text-align: left;
    transform: translate(-63px, 62px);
    width: 200px;
    height: 75px;
    padding-top: 18px;
    padding-left: 10px;
}
/* This styles the buttons, stops them growing too huge! */
th.rotate a {
    max-width: 180px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}